
    .homepage{
        width: 100vw;
        height: 100vh;
        background: url("/BackgroundImages/Background_image.jpg");
        background-color: lightgrey 50%;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: multiply;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        align-items: center;
        border: 1px solid black;
    }
    
    .container1{
        font-family: "SF Pro";
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
       
    
        
    }
    .container0{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        position: relative;
        left: 20%;
        top: -50%;
        
    }
    .container2{ 
        font-size: 15px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%;
        /* border: 1px solid white; */
        margin-top: 15px;
    }
    .btn_1{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    @media screen and (max-width: 1440px){
        .homepage{
            width: 100vw;
            height: 100vh;
            background: url("/BackgroundImages/Background_image.jpg");
            background-color: lightgrey 50%;
            background-repeat: no-repeat;
            background-size: cover;
            mix-blend-mode: multiply;
            background-position: center;
            display: flex;
            flex-wrap: wrap;
            /* justify-content: center; */
            align-items: center;
            border: 1px solid black;
        }
        
        .container0{
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            position: relative;
            left: 20%;
            top: -50%;     
        }
        .container2{ 
            font-size: 20px;
            font-style: normal;
            font-weight: 100;
            line-height: 150%;
            /* border: 1px solid white; */
            margin-top: 15px;
        }
        .btn_1{
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
    }
    

/* .btn_2{
    background-color: unset;
    border: 2px solid white;
} */

 @media screen and (max-width: 760px) {
    .homepage{
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .container0{
        left: 0%;
        justify-content: center;
        align-items: center;
    }
    .container1{
        font-family: "SF Pro";
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        display: flex;
        flex-direction: column;
        align-items: center
        
    }
    .container2{
        text-align: center;
    }
    
    .btn_1{
        /* border: 1px solid white; */
        /* left: 20%; */
    }
}

   
