.resources{
    width: 300px;
    height: 160px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    /* border: 1px solid black; */
    position: absolute;
    top: 110%;
    background-color: white;
    border-radius: 10px;
    
}
ul{
    list-style: none;
    color: black;
    margin: 0;
    padding: 12.5px;
    font-weight: bold;
}
li{
    /* border: 1px solid black; */
    padding: 12.5px;

    
}
.resources > ul > li:hover{
    width: 100%;
    border-radius: 10px;
    background-color: #EBEBEB;
    color: #0486A8;
    transition: 1s;
}
