.building_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.building_container > h1{
    /* border: 1px solid black; */
    width: 382px;
    height: 80px;
    font-size: 35px;
}
.building_container > p{
    font-size: 20px;
    font-weight: 500;
    color: #4D4D4D;
    width: 585px;
}
.buildingBtn{
    width: 136px;
    height: 51px;
    background-color: white;
    color: black;
    padding: 13px, 20px, 15px, 20px;
    border: 1px solid black;
    font-size: 15px;
}
.buildingBtn:hover{
    background-color: #EBEBEB;
    border: 1px solid #0486A8 ;
}
.building_type{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.building_type > p{
    width: 251px;
    height: 23px;
    font-size: 20px;
    font-weight: 500;
}
.building_btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 438px;  
}
@media screen and (max-width: 1440px){
    .building_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .building_container > h1{
        /* border: 1px solid black; */
        width: 382px;
        height: 80px;
        font-size: 35px;
    }
    .building_container > p{
        font-size: 20px;
        font-weight: 500;
        color: #4D4D4D;
        width: 585px;
    }
    .buildingBtn{
        width: 136px;
        height: 51px;
        background-color: white;
        color: black;
        padding: 13px, 20px, 15px, 20px;
        border: 1px solid black;
        font-size: 15px;
    }
    .buildingBtn:hover{
        background-color: #EBEBEB;
        border: 1px solid #0486A8 ;
    }
    .building_type{
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .building_type > p{
        width: 251px;
        height: 23px;
        font-size: 20px;
        font-weight: 500;
    }
    .building_btn{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 438px;  
    }
}
    @media screen and (max-width: 768px){
        .building_container{
            width: 100vw;
            padding-left: 10px;
        }
        .building_btn{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100vw;  
        }
        .building_type{
            top: 50px;
        }
        .building_container > h1{
            /* border: 1px solid black; */
            width: 100vw;
            height: 80px;
            font-size: 25px;
        }
        .building_container > p{
            font-size: 15px;
            font-weight: 400;
            color: #4D4D4D;
            width: 100vw;
        }
        .building_type > p{
            width: 100vw;
            height: 23px;
            font-size: 15px;
            font-weight: 400;
        }
    
}
